In [2]:
# -*- coding: utf-8 -*-
"""
Created on Thu Dec  7 14:07:33 2023

@author: shaun
"""
# essentially, want to create a table that is generated based on users query, upload into postgres db, build simple Power BI dashboard from it

import os 
import pandas as pd
import numpy as np
import turtle
from sqlalchemy import create_engine

In [3]:
# STEP 1 - Obtaining Necessary Files

# setting directory path to data folder
os.chdir(r'C:\Users\shaun\OneDrive\Desktop\Python\Data\NBA')

# getting working directory
current_dir = os.getcwd()

# obtaining list of csvs
csv_list = os.listdir(current_dir)

In [4]:
##########################################################################
# STEP 2 - Opening Files

## opening data files

# opening nba overall data
nba_data = pd.read_csv(csv_list[1], low_memory= False)

# opening game data 
nba_game_data = pd.read_csv(csv_list[0])

# nba team data
nba_team_data = pd.read_csv(csv_list[4])

In [5]:
##########################################################################
# STEP 3 - Getting inputs of data

# what if a team changed franchises? may need to look into linking data. for now, going to assume any franchise changes were included within the newest teamt data

# prints list of unique NBA Players to choose from
print(pd.DataFrame(nba_data['PLAYER_NAME'].unique()))

# turtle graphic initialization
sc = turtle.Screen()
sc.setup(100,100)

# getting input of player
player_name = turtle.textinput("NBA Player Name", "Please Enter the Name of the NBA Player's Stats to generate")


# printing list of teams
print(pd.DataFrame(nba_data['TEAM_CITY'].unique()))

# from here, we can find the player's most recent team data. want team playing against
opp_team = turtle.textinput("Opp Team", "What is the team's city they are playing against?")


# subsetting data for player selected
player_subset = nba_data.query('PLAYER_NAME == @player_name')

                       0
0         Romeo Langford
1          Jeremy Sochan
2           Jakob Poeltl
3          Devin Vassell
4              Tre Jones
...                  ...
2659  Wesley Witherspoon
2660        Greg Somogyi
2661         Brian Butch
2662     Tyler Wilkerson
2663      Kevin Anderson

[2664 rows x 1 columns]
                            0
0                 San Antonio
1                 New Orleans
2                  Washington
3                        Utah
4                   Milwaukee
5                   Cleveland
6                     Detroit
7                Philadelphia
8                     Chicago
9                     Atlanta
10                    Indiana
11                     Boston
12               Golden State
13                   Brooklyn
14                    Toronto
15                   New York
16                    Orlando
17                    Houston
18                     Dallas
19                  Minnesota
20                   Portland
21              Oklahoma City
22                Los Angeles
23                 Sacramento
24                  Charlotte
25                         LA
26                      Miami
27                    Phoenix
28                    Memphis
29                     Denver
30                 New Jersey
31                    Seattle
32  New Orleans/Oklahoma City

In [6]:
##########################################################################
# STEP 4 - Using the player selected, find their most recent team. To do so, join onto game data, group by team, order by most recent date

# setting mutual index for join
player_subset = player_subset.set_index('GAME_ID')

# creating join for game details
player_game_joined = player_subset.join(nba_game_data.set_index('GAME_ID'), how = "left", lsuffix = "_player_join", rsuffix = "_game_join")


player_game_df_agg = player_game_joined.groupby(by = 'TEAM_ABBREVIATION')['GAME_DATE_EST'].\
    agg('min')

# converting series to df and resetting index 
player_game_df_agg = pd.DataFrame(player_game_df_agg).reset_index()
    
# creating rank of dates, selecting most recent
player_game_df_agg['rank'] = player_game_df_agg['GAME_DATE_EST'].rank(ascending = False)

# selecting 1st rank, which is the most recent team
player_team = player_game_df_agg.query('rank == 1').iloc[0,0]

In [7]:
##########################################################################
# STEP 5 - With both teams queried, player name obtained, we can filter our data appropriately

# with the player's team and opponent team obtained, we need their team IDs

# subsetting for the player df with the most recent team, extracted previously
player_subset_team = player_subset.reset_index().query('TEAM_ABBREVIATION == @player_team')

# setting index to join onto game again
player_subset_team = player_subset_team.set_index('GAME_ID')

player_subset_team_joined = player_subset_team.join(nba_game_data.set_index('GAME_ID'), how = "left", lsuffix = "_player_join_team", rsuffix = '_game_join_team')


# now, we need to use the opponent team prompted by user earlier

# logic below is filtering based on user input for opposing city
# then applying iloc to obtain value of team id, using .get_loc('TEAM_ID') to get index
opp_team_subset = nba_team_data.query('CITY == @opp_team').iloc[0, nba_team_data.columns.get_loc('TEAM_ID')]

# obtaining team id of player's team
original_team_id = player_subset_team_joined.iloc[0,player_subset_team_joined.columns.get_loc("TEAM_ID")]

# filtering everything
final_df = player_subset_team_joined.query('HOME_TEAM_ID == (@original_team_id, @opp_team_subset) and VISITOR_TEAM_ID == (@original_team_id, @opp_team_subset)')

In [8]:
# creating sorting of games for visuals
final_df['game_rank'] = final_df['GAME_DATE_EST'].rank(ascending = True, method = 'dense')

print(final_df.head(5))

player_subset_team_joined['game_rank'] = player_subset_team_joined['GAME_DATE_EST'].rank(ascending = True, method = "dense")

print(player_subset_team_joined.head(5))

             TEAM_ID TEAM_ABBREVIATION TEAM_CITY  PLAYER_ID PLAYER_NAME  \
GAME_ID
22100323  1610612748               MIA     Miami     200768  Kyle Lowry
22100404  1610612748               MIA     Miami     200768  Kyle Lowry
22100998  1610612748               MIA     Miami     200768  Kyle Lowry
22200244  1610612748               MIA     Miami     200768  Kyle Lowry

         NICKNAME START_POSITION COMMENT    MIN  FGM  ...  REB_home  \
GAME_ID                                               ...
22100323     Kyle              G     NaN  28:13  2.0  ...      28.0
22100404     Kyle              G     NaN  37:58  8.0  ...      42.0
22100998     Kyle              G     NaN  32:23  1.0  ...      42.0
22200244     Kyle              G     NaN  31:07  2.0  ...      49.0

          TEAM_ID_away  PTS_away  FG_PCT_away  FT_PCT_away  FG3_PCT_away  \
GAME_ID
22100323    1610612739     111.0        0.544        0.913         0.516
22100404    1610612748      94.0        0.447        0.556         0.325
22100998    1610612739     105.0        0.443        0.931         0.320
22200244    1610612748      87.0        0.388        0.864         0.194

          AST_away  REB_away  HOME_TEAM_WINS  game_rank
GAME_ID
22100323      27.0      46.0               0        1.0
22100404      26.0      39.0               1        2.0
22100998      25.0      40.0               1        3.0
22200244      17.0      30.0               1        4.0

[4 rows x 49 columns]
             TEAM_ID TEAM_ABBREVIATION TEAM_CITY  PLAYER_ID PLAYER_NAME  \
GAME_ID
12100004  1610612748               MIA     Miami     200768  Kyle Lowry
12100024  1610612748               MIA     Miami     200768  Kyle Lowry
12100029  1610612748               MIA     Miami     200768  Kyle Lowry
12100040  1610612748               MIA     Miami     200768  Kyle Lowry
12100055  1610612748               MIA     Miami     200768  Kyle Lowry

         NICKNAME START_POSITION              COMMENT    MIN  FGM  ...  \
GAME_ID                                                            ...
12100004     Kyle              G                  NaN  14:36  1.0  ...
12100024     Kyle              G                  NaN  18:41  1.0  ...
12100029     Kyle            NaN           DNP - Rest    NaN  NaN  ...
12100040     Kyle              G                  NaN  26:17  5.0  ...
12100055     Kyle            NaN  NWT - Not With Team    NaN  NaN  ...

          REB_home  TEAM_ID_away  PTS_away  FG_PCT_away  FT_PCT_away  \
GAME_ID
12100004      44.0    1610612737      99.0        0.400        0.917
12100024      49.0    1610612748     113.0        0.482        0.679
12100029      39.0    1610612748     109.0        0.457        0.750
12100040      46.0    1610612766     103.0        0.465        0.846
12100055      51.0    1610612748      92.0        0.385        0.750

          FG3_PCT_away  AST_away  REB_away  HOME_TEAM_WINS  game_rank
GAME_ID
12100004         0.237      19.0      33.0               1        1.0
12100024         0.300      28.0      47.0               0        2.0
12100029         0.333      20.0      53.0               0        3.0
12100040         0.324      25.0      48.0               1        4.0
12100055         0.342      23.0      51.0               1        5.0

[5 rows x 49 columns]

C:\Users\shaun\AppData\Local\Temp\ipykernel_5672\182430685.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['game_rank'] = final_df['GAME_DATE_EST'].rank(ascending = True, method = 'dense')

In [9]:
# Removing Duplicates and Sanity Check

# removing duplicate entries of game date
player_subset_team_joined = player_subset_team_joined.drop_duplicates(subset = 'GAME_DATE_EST')

# checking if game entries match unique count
len(player_subset_team_joined['GAME_DATE_EST']) == player_subset_team_joined['GAME_DATE_EST'].nunique()

True

In [10]:
##################################

# STEP 7 - Upload our completed dataframe into postgres SQL database, build power BI visuals from there

# establishing connection with username, password, localhost and port/database
engine = create_engine('postgresql://postgres:pokemonrocks7@localhost:5432/NBA_data')

# exporting to Postgres DB, replacing table with each run
final_df.to_sql("Player_Data_Avgs", engine, if_exists = 'replace')

# for comparison graphs, creating a table from the player df

player_subset_team_joined.to_sql("Player_All_data", engine, if_exists = 'replace')

113

In [11]:
# query to find other team
other_team = final_df.query('TEAM_ID != TEAM_ID_away')

# joining team_id_away to team_id to find away team information
## more work to be done from here


test = other_team.set_index('TEAM_ID_away').\
    join(nba_data, on = 'TEAM_ID', how = "left", lsuffix = "original_data", rsuffix = "other_team")

test

,TEAM_IDoriginal_data,TEAM_ABBREVIATIONoriginal_data,TEAM_CITYoriginal_data,PLAYER_IDoriginal_data,PLAYER_NAMEoriginal_data,NICKNAMEoriginal_data,START_POSITIONoriginal_data,COMMENToriginal_data,MINoriginal_data,FGMoriginal_data,...,OREBother_team,DREBother_team,REBother_team,ASTother_team,STLother_team,BLKother_team,TOother_team,PFother_team,PTSother_team,PLUS_MINUSother_team
TEAM_ID_away,,,,,,,,,,,,,,,,,,,,,
1610612739,1610612748,MIA,Miami,200768,Kyle Lowry,Kyle,G,NaN,28:13,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1610612739,1610612748,MIA,Miami,200768,Kyle Lowry,Kyle,G,NaN,32:23,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN